*{
    margin: 0;
    padding: 0 auto;
}
#header{
    background-color: #006475;
    position: fixed;
    width: 100%;
}
#main{
    padding-top: 70px;
}
p{
    padding: 2px;
    font-size: 20px;
}
.logo{
    display: flex;
}
.logo img{
    border-radius: 50%;
    width: 70px;
    height: 70px;
}
.titulo{
    margin-left: 10px;
}
.introducao h2{
    display:flex ;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.video video{
    width: 600px ;
}
.video {
    text-align: center;
}
.primeiro-episodio{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.primeiro-episodio h2{
    margin-left: -20px;
    border-top: 2px solid #006475;
    padding: 2px;
    border-bottom: 2px solid #006475;
}
.primeiro-episodio p{
    font-size: 20px;
    margin-bottom: 15px;
}
.primeiro-episodio video{
    width: 500px;
}
.audios {
    display: flex;
    flex-direction: row; 
    margin-bottom: 20px;
}

.audios video {
    width: 400px;  
    margin-right: 20px;
}

.audio-conteiner {
    display: flex;
    flex-direction: column; 
}

.audios p {
    margin-bottom: 10px; 
}

.audios audio {
    margin-bottom: 10px; 
}
footer{
    background-color: #006475;
    text-align: center;
    text-transform: uppercase;
    padding: 25px;
    font-weight: bold;
}

