*{
    margin: 0;
    padding: 0 auto;
    text-align: center;
}
html{
    background: linear-gradient(to top, #ffffff, #7c129c, #7810ff);
}
body{
    width: 500px;
    height: 900px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 30px;
    background-color: #1f1c1c;
    border-radius: 50px;
}
#header img{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: solid 3px #47046e;
}
h1{
    border-radius: 100px;
    background-color: #7c129c;
}
#main{
    background-color: #c87edf;
    width: 500px;
    margin-top: 30px;
    margin-bottom: 32px;
    border-radius: 20px;
}
h2{
    margin-bottom: 5px;
}
p{
    text-align: justify;
    padding: 10px;
    font-family: Reddit Sans, Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.hobby{
    margin-top: 20px;
}
.icons img{
    width: 40px;
    height: 40px;
    margin-top: 20px;
    transition: transform 0.2;
    padding: 10px;
}
.icons img:hover{
    transform: scale(1.2);
}
.footer{
    border-radius: 30px;
    background-color: #7c129c;
    margin-bottom: 10px;
}