*{
    margin: 0;
    padding: 0 auto;
    font-family: Playfair Display, Georgia, 'Times New Roman', Times, serif;
}
header{
    grid-area: header;
    text-align: center;
    background-color: #e78e9a;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
#header img{
    width: 60px;
    height: 60px;
    border: solid 4px #570457c0;
    border-radius: 50%;
}
#header p{
    font-size: 15px;
    margin-bottom: 10px;
}
.banner img{
    width: 100%;
}
.menu{
    margin-top: 50px;
}
.menu li{
    background-color: antiquewhite;
    border-radius: 50px;
    padding: 6px;
    margin-right: 9px;
    margin-bottom: 50px;
}
a{
    font-size: 15px;
    color: #000000;
}
main {
    grid-area: main;
    padding-top: 64px;
}
#main h2{
    margin-bottom: 10px;
}
.dicas-maquiagem{
    background-color:  antiquewhite;
    padding: 50px;
}
h4, li{
    margin-bottom: 10px;
}
.tendencias-novidades{
    background-color: #ff465f;
    padding: 50px;
    margin-top: 10px;
}
.cuidados-pele{
    background-color: antiquewhite;
    padding: 50px;
    margin-top: 10px;
}
.produtos{
    background-color: #ff465f;
    padding: 50px;
    margin-top: 10px;
}
.entre-contato{
    background-color: antiquewhite;
    padding: 50px;
    margin-top: 10px;
    text-align: justify;
}
.entre-contato p{
    padding: 5px;
}
.entre-contato h3{
    text-transform: uppercase;
    margin-bottom: 10px;
}
aside {
    grid-area: aside;
    background-color: #f3a5f3;
    color: #ffffff;
    bottom: 80px;
    margin-top: 64px;
}
.fixed{
    display: flex;
    flex-direction: column;
    position: fixed;
}
footer{
    grid-area: footer;
    background-color: #e78e9a;
    text-align: center;
}
footer p{
    margin-top: 30px;
    text-transform: uppercase;
}
body{
    display: grid;
    grid-template-areas:"header header" "aside main" "footer footer";
    grid-template-columns: 200px 1fr;
    grid-template-rows: 80px 1fr 80px;
}

@media (max-width: 600px) {
    body {
        grid-template-areas: "header" "main" "footer";
        grid-template-columns: 1fr;
        grid-template-rows: 80px 1fr 80px;
    }
    #header img {
        width: 50px;
        height: 50px;
    }
    .menu {
        margin-top: 20px;
        text-align: center;
    }
    .menu li {
        margin-right: 0;
        margin-bottom: 20px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .dicas-maquiagem, .tendencias-novidades, .cuidados-pele, .produtos, .entre-contato {
        padding: 20px;
    }
    .dicas-maquiagem, .cuidados-pele, .entre-contato {
        background-color: antiquewhite;
    }
    .tendencias-novidades, .produtos {
        background-color: #ff465f;
    }
    .fixed {
        position: absolute;
        top: 80px;
        right: 0;
        width: 100%;
    }
    aside {
        display: none;
    }
    footer {
        padding: 1rem;
    }
}
