*{
    margin: 0;
    padding: 0 auto;
    text-align: center;
}

h1{
    font-family: 'Times New Roman', Times, serif;
}
#header p{
    font-size: 24px;
}

table{
    border: 0.1px solid black;
    border-spacing: 0px;
    background-color: #b32b2bad;
    margin: 0 auto;
}
td, th {
    text-align: center;
    border: 0.1px solid ;
    padding: 10px; 
}

