<!DOCTYPE html>
<html ng-app="escolaApp" lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciamento</title>
    <link rel="stylesheet" href="./assets/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>

<body ng-controller="AppController">
    <header id="header">
        <h1 ng-bind="mensagem"></h1>
    </header>
    <main id="main">
        <div ng-repeat="usuario in usuarios">
            <h2>Dados do usuário</h2>
            <p><strong>Nome:</strong> <span ng-bind="usuario.nome"></span></p>
            <p><strong>Tipo:</strong> <span ng-bind="usuario.tipo"></span></p>


            <img ng-if="usuario.tipo === 'Aluno'" src="./assets/img/aluno.jpg" alt="Imagem de Aluno" width="100">

            <img ng-if="usuario.tipo === 'Professor'" src="assets/img/professor.jpg" alt="Imagem de Professor"
                width="100">

            <hr>
        </div>
    </main>
    <script src="./assets/js/automacao.js"></script>
</body>

</html>