*{
    margin: 0;
    padding: 0 auto;
    font-family: Oswald, Arial, Helvetica, sans-serif;
}
#header{
    text-align: center;
}
#header h1{
    font-size: 45px;
}
#header img{

    border-radius: 50%;
    border: solid 2px #a81616;
    width: 400px;
    height: 400px;
}
.sub-titulo{
    font-size: 20px;
    margin-top: 20px;
    border-bottom: solid 1px #a81616;
}
#conteudo{
    margin: 20px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}
.topicos{
    font-size: 18px;
    text-transform: uppercase;
    color: #a81616;
}

p{
    /* text-indent: 5px; */
    padding: 10px;
    margin-left: 10px;
    font-size: 18px;
    text-align: justify;
}
a{
    color: black;
}