*{
    margin: 0;
    padding: 0;
    font-family: Oswald, Arial, Helvetica, sans-serif;
}
html{
    background-image: url(../img/backgrounddd.jpg);
    height: 100%;
    color: #ffffff;
}
body{
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#main{
    padding: 50px;
    background-color: #00000079;
    border-radius: 10px;
}
.contact-me{
    text-transform: uppercase;
    padding: 20px;
    background-color: #000000a4;
    border-radius: 5px;
}
.form-contact{
    text-align: center;
    padding: 10px;
}
.form{
    background-color: #5034159f;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
}
label{
    padding: 20px;
}
input{
    width: 95%;
    margin-top: 5px;
    padding: 5px;
}
select{
    margin-top: 5px;
    font-size: 15px
}
button{
    margin-right: 5px;
    font-size: 15px;
    margin-top: 15px;
    text-transform: uppercase;
}