body {
    padding: 0 ;
    margin: 0;
    box-sizing: border-box;
}
.feedback {
    font-size: 0.9rem;
    margin-top: 0.2rem;
}
.feedback.valid {
    color: green;
}
.feedback.invalid {
    color: red;
}
input:focus {
    border-color: #3498db;
}
